@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

body {
  padding: 0px;
  margin: 0px;
  background-color: #0057a8;
}

header {
  padding: 70px 45px;
   background: url(https://learn.logikaschool.com/uploads/student/2382284/681b74e31f96b.png) no-repeat center center / cover;
   border-bottom: 5px dashed  #639fec;
}

h1 {
  text-align: center;
  padding-top: 0px;
  color: white;
  font-size: 45px;
  font-family: "", cursive;
}

.htwoheader {
  color: white;
  text-align: center;
  border: 2px solid #86bfff;
  font-family: "Arial";
  border-radius: 1000px;
  max-width: 600px;
  margin-left: 500px;
}

header p {
  color: white;
  font-size: 21px;
  font-family: "Balsamiq Sans", sans-serif;
}

main {
  background: url(https://learn.logikaschool.com/uploads/student/2382284/681dfb1705a43.jpeg) no-repeat center center / cover;
  padding: 100px 10px;
}

main img {
  height: 300px;
  border-radius: 20px;
  border: 7px solid black;
}

main p {
  color: white;
  font-family: "Alegreya Sans", sans-serif;
}

footer {
  background: url(https://learn.logikaschool.com/uploads/student/2382284/681e03485c382.jpeg) no-repeat center center / cover;
  padding: 1px;
}

footer img {
  border: 3px solid #f4ffa5;
}

footer p {
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: "Alegreya Sans", sans-serif;
}

.virenos {
  color: white;
  font-size: 40px;
  margin-top: 1px;
  font-family: "Alegreya Sans", sans-serif;
  
}

.htwomain {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-top: 0px;
}

.description {
  border: 3px dashed #0155b9 ;
  border-radius: 5px;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 16px;
  padding: 3px 3px 3px 3px;
  background-color: black;
  
}

  .htwofooter {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border: 3px solid black;
    max-width: 300px;
    margin-left: 700px;
    background-color: black;
    opacity:0.7
 }
 
 .paragraphfooter {
   font-family:sans-serif;
   background-color: rgba(189, 255, 72, 0.5);
   max-width: 700px;
   margin-left: 540px
 }
 
 .btn {
  text-decoration: none;
  color: #3ab4ff;
  border-radius: 17px;
  background-color: #003d63;
  font-family: "Alegreya Sans", sans-serif;
  padding: 5px;
  font-size: 30px;
  margin-left: 300px;
  border: 2px solid transparent;
  transition: background 0.5s;
 }
 
 .btn:hover{
   background: #0089dd;
 }
 
 .btn:focus{
   background: #0089dd;
   border: 2px solid white;
 }
 
